
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


/*------------------------navigation bar----------------------*/

header .header-1 a button{
    background: white;
    border-color: #243D25;
    padding-top: 3px;
    cursor: pointer;
    color: black;
    width: 100px;
    font-family: sans-serif;
    border-radius: 5%;
    height: 30px;
}

header .header-1 a button a i{
    background: #547c55;
    border: none;
    padding-top: 3px;
    cursor: pointer;
    color: white;
    width: 100px;
    font-family: sans-serif;
    border-radius: 5%;
    height: 30px;
}


header .header-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  width: 100%;
  padding:10px 20px;
}

header .header-1 .logo{
    color:#243D25;
    margin-left: 12px;
    font-size: 40px;
    font-family: 'brush script mt';
    margin-top: -2px;
    margin-bottom: -2px;
  }

header .header-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#243D25;
  width: 100%;
  padding:5px 20px;
}

header .header-2 .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .header-2 .navbar ul li{
  margin:13px;
}

header .header-2 .navbar ul li a{
  color:#fff;
  font-size: 20px;
}

header .header-2 .navbar ul li a:hover{
  color: #fff8;
}

header .header-2 .icons a{
  font-size: 20px;
  color:#fff;
  margin:10px;
}

header .header-2 .icons a:hover{
  color: #fff8;
}

#menu{
  font-size: 30px;
  color:#fff;
  cursor: pointer;
  display: none;
}

header .header-2.sticky{
  position: fixed;
  top: 0; left: 0;
  background: #243D25;
}



/* media queries  */


@media (max-width:768px){

  header .header-2 #menu{
    display: block;
  }

  header .header-2 .navbar{
    position: fixed;
    top:-1000px; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  header .header-2 .navbar ul{
    flex-flow: column;
    width: 250px;
    border-radius: 5px;
    padding:30px 10px;
    background:#243D25;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.5),
                0 3px 5px #000;
  }

  header .header-2 .navbar ul li{
    width:100%;
    text-align: center;
  }

  header .header-2 .navbar ul li a{
    font-size: 25px;
    display: block;
  }

  header .header-2 .navbar.nav-toggle{
    top:55%;
    opacity: 1;
  }

}

@media (max-width:500px){

  header .header-1{
    flex-flow: column;
  }

  header .header-1 form{
    padding-top: 10px;
  }

}

/*--------------------end navigation bar----------------------*/
a{
    text-decoration: none;
    color:black;
}

a:hover{
    color: red;
}

.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 12px 0;
 
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 a{
    color: black;
}

.btns{
    display: inline-block;
    background: white;
    border-color: #243D25;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btns:hover{
    background-color:#75b977;
}

.header{
    background:linear-gradient(180deg,#243D25,#EEEEEE);
}

.header .row{
      margin-top: 0px;
}

/*------------------------feature products----------------------*/
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*------------------------latest products----------------------*/
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%; 
}
.title{
    text-align: center;
    color: #555;
    padding-bottom: 45px;
}

h4{
    color: black;
    font-weight: normal;
}
.col-4{
    font-size: 18px;
}
.rating .fa{
    color: yellow;
}


/*--------------------------offer----------------------*/
.offer{
    background: linear-gradient(180deg,#EEEEEE,black);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: black;
}

/*----------------------testimonial-------------------*/

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform:translateY(-10px)
}
.fa-quote-right{
    font-size: 12px;
    color:yellow ;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color:black ;
}

.testimonial .col-3 .h3{
      font-weight: 600;
      color: black;
      font-size: 16px;
}

/*--------------------------brands----------------------*/


.brands{
    margin: 20px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter:grayscale(100%)
}


/*------------------------footer----------------------*/

.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 6px 0 6px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #EEEEEE;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
   list-style-type: none; 
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.footer-col-2 .logo{
    color: white;
    margin-left: 12px;
    font-size: 40px;
    font-family: 'brush script mt';
  }

/*--------------------Products All Products------------------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #243D25;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #243D25;
    color: #243D25;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #243D25;
    color: #EEEEEE;
}

/*-------------------single product details-------------------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #243D25;
}

input:focus{
    outline: none;
}
.single-product .fa{
    color: yellow;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.btnss{
    display: inline-block;
    background: #243D25;
    border-color: #243D25;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btnss:hover{
    background-color:#75b977;
}
span{
    color: #EEEEEE;
    font-size: 12px;
}
/*------------------------cart item----------------------*/

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #243D25;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #243D25;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #243D25;
    width: 100%;
    max-width: 430px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.checkout-btn{
    display: inline-block;
    background: #243D25;
    color: white;
    border: none;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.checkout-btn:hover{
    background-color: #75b977;
}


 /*------------------------about------------------------------------*/
.about{
    background: linear-gradient(180deg,#243D25,#EEEEEE);
    margin-top: 0px;
    padding: 50px 0;
}
.col-2 .about-img{
    padding: 80px;
    padding-right: 80px;
}
small{
    color: black;
}

/*------------media query for less than 600 screen size--------------*/

@media only screen and (max-device-width: 512px) {

    .row
    {
        text-align: center;
        font-size: 13px;
    }
    .col-2 img{
        max-width: 100%;
        padding: 12px 0;
    }
    .col-2, .col-3, .col-4
    {
        flex-basis: 600%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}



.search
   {
       border: 2px solid #243D25;
       overflow: auto;
       width: 70%;
       margin-left: 200px;
       border-radius: 5px;
       -moz-border-radius: 5px;
       -webkit-border-radius: 5px;
   }
   
   .search input[type="text"]
   {
       border: 0px;
       width: 67%;
       padding: 10px 10px;
   }
   
   .search input[type="text"]:focus
   {
       outline: 0;
   }
   
   .search input[type="submit"]
   {
       border: 0px;
       background: none;
       background-color: #243D25;
       color: #fff;
       float: right;
       padding: 10px;
       border-radius-top-right: 5px;
       -moz-border-radius-top-right: 5px;
       -webkit-border-radius-top-right: 5px;
       border-radius-bottom-right: 5px;
       -moz-border-radius-bottom-right: 5px;
       -webkit-border-radius-bottom-right: 5px;
       cursor:pointer;
   }
   
 
   
   @media only screen and (min-width : 150px) and (max-width : 1096px)
   {
      
       .search
       {
           width: 95%;
           margin: 0 auto;
       }
   
   }


/*------------------------------Register---------------------------------*/


   
   .register input[type="text"], input[type="email"], input[type="password"]
   {
       width: 67%;
       padding: 10px 10px;
       display: block;
       margin: 0 auto;
   }
   
   .register input[type="text"], input[type="email"], input[type="password"]:focus
   {
       outline: 0;
   }
  
   
   .register input[type="submit"]
   {
       border: 0px;
       background: none;
       background-color: #243D25;
       width: 67%;
       color: #fff;
       padding: 10px;
       cursor:pointer;
       margin: 0 auto;
       margin-left: 16.7%;
   }

   .h2{
    margin-left: 16.7%;
    padding-top: 20px;
   }

   .p{
    margin-left: 16.7%;
    padding-top: 10px;
   }
   
 
   
   @media only screen and (min-width : 150px) and (max-width : 1096px)
   {
      
       .register
       {
           width: 95%;
           margin: 0 auto;
       }
   
   }

  
/*------------------------------Login---------------------------------*/
  

.login input[type="text"], input[type="email"], input[type="password"]
{
    width: 67%;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
}

.login input[type="text"], input[type="email"], input[type="password"]:focus
{
    outline: 0;
}


.login input[type="submit"]
{
    border: 0px;
    background: none;
    background-color: #243D25;
    width: 67%;
    color: #fff;
    padding: 10px;
    cursor:pointer;
    margin: 0 auto;
    margin-left: 16.7%;
}

.h2{
 margin-left: 16.7%;
}

.p{
 margin-left: 16.7%;
 padding-top: 10px;
}



@media only screen and (min-width : 150px) and (max-width : 1096px)
{
   
    .login
    {
        width: 95%;
        margin: 0 auto;
    }

}



/*------------------------------Contact---------------------------------*/


   
.contact input[type="text"], input[type="email"], input[type="number"], textarea[name="msg"]
{
    width: 67%;
    padding: 10px 10px;
    display: block;
    margin: 0 auto;
}

.contact input[type="text"], input[type="email"], input[type="number"], textarea[name="msg"]:focus
{
    outline: 0;
}


.contact input[type="submit"]
{
    border: 0px;
    background: none;
    background-color: #243D25;
    width: 67%;
    color: #fff;
    padding: 10px;
    cursor:pointer;
    margin: 0 auto;
    margin-left: 16.7%;
}

.h2{
 margin-left: 16.7%;
 padding-top: 20px;
}

.p{
 margin-left: 16.7%;
 padding-top: 10px;
}



@media only screen and (min-width : 150px) and (max-width : 1096px)
{
   
    .register
    {
        width: 95%;
        margin: 0 auto;
    }

}


/* ----------------------------------Dropdown Button --------------------*/
.dropbtn {
    border-radius: 5%;
    color: black;
    padding: 16px;
    font-size: 12px;
    padding-top: 2px;
    height: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: small;
    min-width: 134px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: white}
